// Map with much breakpoints
$breakpoints: (
  mobilexxxs: 290px,
  mobilexxs: 375px,
  mobilexs: 420px,
  mobileS: 550px,
  mobile: 768px,
  tablet: 879px,
  desktop: 1250px,
  desktopHR: 1650px,
  desktopCustom: 1805px,
);

// Respond-To Mixin
@mixin mediaQuery($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    $value: map-get($breakpoints, $breakpoint);

    @media screen and (max-width: $value) {
      @content;
    }
  }

  @warn "Unknown `#{$breakpoint}` in $breakpoints";
}

// Respond-To Mixin
@mixin mediaQueryMin($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    $value: map-get($breakpoints, $breakpoint);

    @media screen and (min-width: $value) {
      @content;
    }
  }

  @warn "Unknown `#{$breakpoint}` in $breakpoints";
}
