/*OTHERS FONTS*/

@font-face {
  font-family: "Decalotype";
  font-style: normal;
  src: url("../fonts/Decalotype-BlackItalic.ttf");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC,
    U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
  font-display: swap;
}

@font-face {
  font-family: "amarurgt";
  font-style: normal;
  src: url("../fonts/amarurgt.ttf");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC,
    U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat-Light";
  font-style: normal;
  src: url("../fonts/Montserrat-Light.otf");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC,
    U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
  font-display: swap;
}
//Montserrat-FONT
@font-face {
  font-family: "Montserrat-Regular";
  font-style: normal;
  src: url("../fonts/Montserrat-Regular.ttf");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC,
    U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat-Medium";
  font-style: normal;
  src: url("../fonts/Montserrat-Medium.otf");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC,
    U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat-SemiBold";
  font-style: normal;
  src: url("../fonts/Montserrat-SemiBold.otf");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC,
    U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat-Bold";
  font-style: normal;
  src: url("../fonts/Montserrat-Bold.otf");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC,
    U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat-ExtraBold";
  font-style: normal;
  src: url("../fonts/Montserrat-ExtraBold.otf");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC,
    U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
  font-display: swap;
}

//Code-FONT
@font-face {
  font-family: "Code-Light";
  font-style: normal;
  src: url("../fonts/Code-Light.otf");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC,
    U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
  font-display: swap;
}
@font-face {
  font-family: "Code-Bold";
  font-style: normal;
  src: url("../fonts/Code-Bold.otf");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC,
    U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
  font-display: swap;
}

/*FONTS NAVBAR MENU*/
//UnitedSansReg-FONT
@font-face {
  font-family: "UnitedSansReg-Extra-Bold";
  font-style: normal;
  src: url("../fonts/UnitedSansReg-Extra-Bold.otf");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC,
    U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
  font-display: swap;
}

@font-face {
  font-family: "UnitedSansReg-Medium";
  font-style: normal;
  src: url("../fonts/UnitedSansReg-Medium.otf");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC,
    U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
  font-display: swap;
}

@font-face {
  font-family: "UnitedSansReg-Bold";
  font-style: normal;
  src: url("../fonts/UnitedSansReg-Bold.otf");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC,
    U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
  font-display: swap;
}

/*SLIDER1*/
//UnitedItalicReg-FONT
@font-face {
  font-family: "UnitedItalicReg-Black";
  font-style: normal;
  src: url("../fonts/UnitedItalicReg-Black.otf");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC,
    U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
  font-display: swap;
}

@font-face {
  font-family: "UnitedItalicReg-Black";
  font-style: normal;
  src: url("../fonts/UnitedItalicReg-Black.otf");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC,
    U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
  font-display: swap;
}

@font-face {
  font-family: "UnitedItalicReg-Stencil";
  font-style: normal;
  src: url("../fonts/UnitedItalicReg-Stencil.otf");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC,
    U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
  font-display: swap;
}

/*SLIDER3*/
//FuturaCondensedExtraBold-FONT
@font-face {
  font-family: "FuturaCondensedExtraBold";
  font-style: normal;
  src: url("../fonts/FuturaCondensedExtraBold.otf");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC,
    U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
  font-display: swap;
}

/*FONT GENERAL*/
//DINPro-FONT
@font-face {
  font-family: "DINPro";
  font-style: normal;
  src: url("../fonts/DINPro.otf");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC,
    U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
  font-display: swap;
}

@font-face {
  font-family: "DINPro-Medium";
  font-style: normal;
  src: url("../fonts/DINPro-Medium.otf");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC,
    U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
  font-display: swap;
}

@font-face {
  font-family: "DINPro-Light";
  font-style: normal;
  src: url("../fonts/DINPro-Light.otf");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC,
    U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
  font-display: swap;
}

/**************FONTS GENERAL*************/

//DINPro-font
$font-primary: "DINPro";
$font-primary-medium: "DINPro-Medium";
$font-primary-light: "DINPro-Light";

//Code-font
$font-secundary-light: "Code-Light";
$font-secundary-bold: "Code-Bold";

//UnitedSans-font
$font-terciary-extra-bold: "UnitedSansReg-Extra-Bold";
$font-terciary-bold: "UnitedSansReg-Bold";
$font-terciary-medium: "UnitedSansReg-Medium";
$font-slider-1-bold: "UnitedItalicReg-Black";
$font-slider-1-stencil: "UnitedItalicReg-Stencil";

//FuturaCondensed-font
$font-slider-3-bold: "FuturaCondensedExtraBold";

//Montserrat-font
$montserrat-light: "Montserrat-Light";
$montserrat-regular: "Montserrat-Regular";
$montserrat-medium: "Montserrat-Medium";
$montserrat-semibold: "Montserrat-SemiBold";
$montserrat-bold: "Montserrat-Bold";
$montserrat-extrabold: "Montserrat-ExtraBold";

//Amarurgt-font
$amarurgt: "amarurgt";

//Decalotype-font
$decalotype: "Decalotype";

.warning-border {
  border: 3px solid #ff1212;
}

#warning-message {
  color: red;
  font-size: 0.8rem;
  padding: 5px;
}

//$bg-visible-container1: rgba(255, 10, 10, 0.274);
//$bg-visible-container2: rgba(10, 75, 255, 0.274);

//BACKGROUND VISIBILITY
$bg-visible-container1: transparent;
$bg-visible-container2: transparent;

//HEIGHT SECTIONS
$height-primary: 80vh;
$height-secundary: 90vh;
$height-tertiary: 100vh;
